@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Nunito:ital,wght@0,400;0,600;0,700;1,500&display=swap');

// font-family: 'Lora', serif;

body {
	position: relative;
	font-family: 'Nunito', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 27px;
	color: $mainColor;
	background: $white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.container {
	max-width: 1329px;
	margin: 0 auto;
	padding: 0 15px;
}
.button {
	padding: 11px 24px;
	border-radius: 10px;
	color: $white;
	transition: all 0.3s ease-in-out;
	&:hover {
		border-radius: 46px;
	}
	&_pink {
		min-width: 169px;
		background: $pink;
	}
	&_olive {
		min-width: 192px;
		background: $olive;
	}
}
.main {
	position: relative;
}
.btn {
	position: fixed;
	top: 80%;
	right: 0;
	z-index: 2000;
	width: 55px;
	height: 55px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 4px 25px rgba(63, 9, 35, 0.25);
	border-radius: 50px;
	background: $pink;
	gap: 10px;
	margin-right: 10px;
	cursor: pointer;
	transition: all 0.5s ease-out;
	&:hover {
		width: 391px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 14px 70.5px;
		.btn-label {
			display: flex;
		}
	}
	&-icon {
		width: 15px;
		height: 13px;
	}
	&-label {
		display: none;
		color: $white;
		min-width: 220px;
		flex-wrap: nowrap;
	}
}

@import './header';
@import './firstscreen';
@import './donation';
@import './about';
@import './statistics';
@import './reviews';
@import './partners';
@import './stars';
@import './footer';
@import './popup';
