.header {
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	padding-top: 10px;
	&__content {
		display: flex;
		align-items: center;
		gap: 93px;
	}
	&__block {
		display: flex;
		align-items: center;
		gap: 40px;
	}
	&__nav {
		white-space: nowrap;
		&-list {
			display: flex;
			align-items: center;
			gap: 5px;
		}
		&-item {
			&:hover .header__nav-submenu {
				display: flex;
			}
			&:hover .header__nav-link {
				background: $white;
				color: $mainColor;
				border-radius: 10px;
			}
		}
		&-link {
			position: relative;
			padding: 11px 10px;
			color: $white;
		}
		&-submenu {
			position: absolute;
			bottom: -265px;
			display: none;
			flex-direction: column;
			gap: 10px;
			padding: 15px;
			background: $white;
			border-radius: 10px;
			&-link {
				font-size: 16px;
				line-height: 22px;
				color: $mainColor;
			}
			&::before {
				content: '';
				position: absolute;
				width: 100%;
				height: 30px;
				top: -20px;
				left: 0;
				background: transparent;
			}
		}
	}
	&__buttons {
		display: flex;
		align-items: center;
		gap: 15px;
		&-lng {
			position: relative;
			display: block;
			padding: 11px;
			background: $thirdWhite;
			border-radius: 10px;
			transition: all 0.3s ease-in-out;
			color: $darkGrey;
			&:hover {
				border-radius: 31px;
				.header__buttons-list {
					display: flex;
				}
			}
			&-current {
				font-size: 20px;
				line-height: 27px;
				color: $mainColor;
			}
		}
		&-list {
			position: absolute;
			display: none;
			flex-direction: column;
			align-items: center;
			bottom: -95px;
			left: 0;
			right: 0;
			background: $white;
			border-radius: 10px;
			padding: 8px 0;
			&::before {
				content: '';
				position: absolute;
				top: -20px;
				left: 0;
				width: 50px;
				height: 25px;
				background: transparent;
			}
		}
		&-item {
			width: 100%;
			height: 34px;
			display: flex;
			align-items: center;
			justify-content: center;
			&:hover {
				background: $secondWhite;
			}
		}
		&-link {
			font-size: 16px;
			line-height: 22px;
			color: $mainColor;
		}
	}
}
.lng_active {
	display: flex;
}
.header {
	&__burger {
		position: relative;
		display: none;
		justify-content: center;
		align-items: center;
		width: 36px;
		height: 36px;
		cursor: pointer;
		transition: all 0.5s ease-in-out;
		border: 3px solid transparent;
		&-btn {
			width: 30px;
			height: 2px;
			background: $white;
			border-radius: 5px;
			transition: all 0.5s ease-in-out;
			&::before,
			&::after {
				content: '';
				position: absolute;
				width: 30px;
				height: 2px;
				background: $white;
				border-radius: 5px;
				transition: all 0.5s ease-in-out;
			}
			&::before {
				transform: translateY(-8px);
			}
			&::after {
				transform: translateY(8px);
			}
		}
	}
}
.header__burger.open .header__burger-btn {
	transform: translateX(-15px);
	background: transparent;
}
.header__burger.open .header__burger-btn::before {
	transform: rotate(45deg) translate(10px, -9px);
}
.header__burger.open .header__burger-btn::after {
	transform: rotate(-45deg) translate(9px, 10px);
}

@media screen and (max-width: 1450px) {
	.header {
		&__content {
			justify-content: space-between;
		}
		&__buttons {
			&-lng {
				padding: 8px;
				&-current {
					font-size: 15px;
					line-height: 90%;
				}
			}
		}
		&__nav {
			&-list {
				display: flex;
				align-items: center;
				gap: 5px;
			}
			&-link {
				font-size: 20px;
				line-height: 27px;
			}
		}
		.button {
			font-size: 17px;
			line-height: 23px;
			padding: 6px 12px;
			border-radius: 10px;
			color: $white;
			transition: all 0.3s ease-in-out;
			&:hover {
				border-radius: 46px;
			}
			&_pink {
				min-width: 91px;
				background: $pink;
			}
			&_olive {
				min-width: 99px;
				background: $olive;
			}
		}
	}
}
@media screen and (max-width: 1250px) {
	.header {
		&__content {
			gap: 20px;
		}
		&__buttons {
			&-lng {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 32px;
				padding: 5px 0;
				&-current {
					font-size: 13px;
					line-height: 90%;
				}
			}
		}
		&__nav {
			&-list {
				display: flex;
				align-items: center;
				gap: 5px;
			}
			&-link {
				font-size: 15px;
				line-height: 23px;
			}
		}
		&__button {
			font-size: 13px;
			line-height: 18px;
			padding: 6px 12px;
			&_pink {
				min-width: 81px;
				background: $pink;
			}
			&_olive {
				min-width: 89px;
				background: $olive;
			}
		}
	}
}
@media screen and (max-width: 992px) {
	.header__buttons {
		display: none;
	}
	.header__burger {
		display: flex;
	}
}
@media screen and (max-width: 992px) {
	.header__nav-list {
		display: none;
	}
}
