$white: #ffffff;
$secondWhite: #f5f5f4;
$thirdWhite: #efefef;
$fourthWhite: #f3f3f3;
$black: #000000;
$pink: #e9138d;
$mainColor: #323232;
$olive: #91d971;
$grey: #bebebe;
$darkGrey: #4f4f4f;
$orange: #fe970a;
